:root {
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --btn-success: #00c15d;
  --btn-common: #009fdc;
  --btn-error: #ec3d40;
  --btn-none: #9f9f9f;
}
button{
  border-radius: 4px;
  color: #FFFFFF;
  font-size: var(--font-size-12);
}
button > span {
  margin: 10px;
}
select{
  font-size: var(--font-size-12);
}
.common-font-size-12{
  font-size: var(--font-size-12)
}
.common-font-size-14{
  font-size: var(--font-size-14)
}
.common-font-size-16{
  font-size: var(--font-size-16)
}
/* 默认的按钮样式 */
.common-btn-padding{
  padding: 4px;
}
/* 默认的水平间距大小 */
.common-shuipin-margin{
  margin: 0 10px;
}
/* 默认div间隔（上下空隙） */
.common-div-margin{
  margin:10px;
}
/* 默认的绿色按钮 */
.success-btn-bg {
  background-color: var(--btn-success);
  color: #ffffff;
}
/* 默认的红色按钮 */
.error-btn-bg {
  background-color: var(--btn-error);
  color: #ffffff;
}
/* 默认的蓝色按钮 */
.common-btn-bg {
  background-color: var(--btn-common);
  color: #ffffff;
}
/* 默认的灰色按钮 */
.none-btn-bg {
  background-color: var(--btn-none);
  color: #ffffff;
}
.common-table th, .common-table td{
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 影藏 */
.isShow{
  display: block;
}
.isHide{
  display: none;
}
.left {
  top: 4px;
  bottom: 0px;
  left: 4px;
  width: 192px;
  overflow-y: auto;
}
.left, .right {
  position: absolute;
  background: #fff;
  border: 1px solid #EEE;
}
.left-list-item {
  position: relative;
  height: 36px;
  line-height: 36px;
  padding-left: 30px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #EEE;
  cursor: default;
}
.left .selected {
  background-color: #eef6f9;
  color: #0c9dd9;
  font-weight: bold;
}
.left .selected:before{
  position:absolute;
  content:'';
  height:100%;
  width:4px;
  left:0px;
  background-color:#0d9ed8;
}
.right{
  top: 4px;
  bottom: 0px;
  left: 200px;
  right: 4px;
}
.right-tab-container{
  position: relative;
  height: 36px;
  line-height: 36px;
  background-color: #EEE;
  font-size: 14px;
  color: #333;
}
.right-tab-container .selected {
  color: #0c9dd9;
  font-weight: bold;
  background-color: #fff;
}
.right-tab-container li {
  position: relative;
  float: left;
  min-width: 100px;
  padding: 0 10px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #DCDCDC
}
.right-tab-container .selected:before{
  position: absolute;
  border: 0;
  content: '';
  height: 3px;
  width: 100%;
  left: 0px;
  background-color: #0d9ed8;
}
.cheose{
  height: 54px;
  line-height: 52px;
  width: 100%;
  font-size: 12px;
}
.cheose div{
  position: relative;
  float: left;
}
.cheose div span {
  margin-left: 10px;
  font-weight: bold;
}
.cheose div label {
  margin-left: 5px;
  min-width: 55px;
  text-align: center;
  height: 23px;
  line-height: 23px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}
.cheose div .selected {
  color: white;
  background: #32B36C;
}
.cheose div .query {
  border-radius: 4px;
  color: white;
  background: #0AA0D8;
  width: 50px;
  text-align: center;
  height: 25px !important;
  line-height: 25px !important;
  cursor: pointer;
}
.table-head, .table-body{
  width: 100%;
  font-size: 12px;
  font-weight: normal;
}
.table-head table, .table-body table{
  width: 100%;
}
.table-head table thead{
  line-height: 40px;
  color: #0091CD;
}
.table-background{
  background: #ECF2FE;
}
.table-body table tr{
  line-height: 40px;
  border: 1px solid #E9E9E9;
}
/* index */
.iframe{
  position: absolute;
  top: 4px;
  left: 200px;
  
}
.iframe #rightIframe{
  width: 100%;
  height: 100%;
}
/* 服务器状态 */
.main {
  width: 100%; 
}
.main span {
  font-size: var(--font-size-12);
}
.main .all-map-view {
  width: 100%;
  height: 202px;
  border: 1px solid #E9E9E9;
}
.main .all-map-view #shen-map {
  float: left;
  width: 20%;
  height: 200px;
}
.main .all-map-view #shi-map {
  float: left;
  width: 20%;
  height: 200px;
}
.main .all-map-view #bar-map {
  float: left;
  width: 59%;
  height: 200px;
}
.main .common-table {
  font-size: var(--font-size-12);
  border: 1px solid #E9E9E9;
}
.main .common-table table {
  width: 100%;
}
.main .common-table thead tr{
  line-height: 40px;
  color: #0091CD;
  background-color: #ECF2FE;
}
.main .common-table tr {
  line-height: 40px;
  background-color: #FFFFFF;
}
.main .common-table tr td button {
  padding: 4px;
  background-color: var(--btn-error)
}
.main .common-table tr td .table-btn-background {
  background-color: var(--btn-success)
}
.main .common-table .table-background {
  background-color: #ECF2FE;
}
.boder-table table {
  border-collapse: collapse;
}
.boder-table table, .boder-table td, .boder-table th {
  border: 1px solid #DCDCDC;
}
.common-table a{text-decoration:none; color: #5AA5CB}
.common-table a:link {text-decoration:none; color: #5AA5CB}    /* unvisited link */
.common-table a:visited {text-decoration:none; color: #5AA5CB} /* visited link */
.common-table a:hover {text-decoration:underline; color: #5AA5CB}   /* mouse over link */
.common-table a:active {text-decoration:underline; color: #5AA5CB}  /* selected link */
/* 翻页插件css */
.mo-paging {
  display: inline-block;
  padding: 0;
  margin: 1rem 0;
  font-size: 0;
  list-style: none;
  user-select: none;
}
.mo-paging > .paging-item {
  display: inline;
  font-size: 14px;
  position: relative;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-left: -1px;
  cursor: pointer;
  color: #0275d8;
}
.mo-paging > .paging-item:first-child {
  margin-left: 0;
}
.mo-paging > .paging-item:hover {
  background-color: #f0f0f0;
  color: #0275d8;
}
.mo-paging > .paging-item--disabled,
.mo-paging > .paging-item--more{
  background-color: #fff;
  color: #505050;
}

.mo-paging > .paging-item--disabled {
  cursor: not-allowed;
  opacity: .75;
}
.mo-paging > .paging-item--more,
.mo-paging > .paging-item--current {
  cursor: default;
}

.mo-paging > .paging-item--current {
  background-color: #0275d8;
  color:#fff;
  position: relative;
  z-index: 1;
  border-color: #0275d8;
}
/* 翻页插件css */


