<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海南</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/echarts.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <style>
        .left {
            top: 4px;
            bottom: 0px;
            left: 4px;
            width: 192px;
            overflow-y: auto;
        }
        .left, .right {
            position: absolute;
            background: #fff;
            border: 1px solid #EEE;
        }
        .left-list-item {
            position: relative;
            height: 36px;
            line-height: 36px;
            padding-left: 30px;
            text-align: left;
            font-size: 14px;
            border-bottom: 1px solid #EEE;
            cursor: default;
        }
        .left .selected {
            background-color: #eef6f9;
            color: #0c9dd9;
            font-weight: bold;
        }
        .left .selected:before{
            position:absolute;
            content:'';
            height:100%;
            width:4px;
            left:0px;
            background-color:#0d9ed8;
        }
        .right{
            top: 4px;
            bottom: 0px;
            left: 200px;
            right: 4px;
        }
        .right-tab-container{
            position: relative;
            height: 36px;
            line-height: 36px;
            background-color: #EEE;
            font-size: 14px;
            color: #333;
        }
        .right-tab-container .selected {
            color: #0c9dd9;
            font-weight: bold;
            background-color: #fff;
        }
        .right-tab-container li {
            position: relative;
            float: left;
            min-width: 100px;
            padding: 0 10px;
            height: 100%;
            text-align: center;
            cursor: pointer;
            border-right: 1px solid #DCDCDC
        }
        .right-tab-container .selected:before{
            position: absolute;
            border: 0;
            content: '';
            height: 3px;
            width: 100%;
            left: 0px;
            background-color: #0d9ed8;
        }
        .cheose{
            height: 54px;
            line-height: 52px;
            width: 100%;
            font-size: 12px;
        }
        .cheose div{
            position: relative;
            float: left;
        }
        .cheose div span {
            margin-left: 10px;
            font-weight: bold;
        }
        .cheose div label {
            margin-left: 5px;
            min-width: 55px;
            text-align: center;
            height: 23px;
            line-height: 23px;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
        }
        .cheose div .selected {
            color: white;
            background: #32B36C;
        }
        .cheose div .query {
            border-radius: 4px;
            color: white;
            background: #0AA0D8;
            width: 50px;
            text-align: center;
            height: 25px !important;
            line-height: 25px !important;
            cursor: pointer;
        }
        .table-head, .table-body{
            width: 100%;
            font-size: 12px;
            font-weight: normal;
        }
        .table-head table, .table-body table{
            width: 100%;
        }
        .table-head table thead{
            line-height: 40px;
            color: #0091CD;
        }
        .table-background{
            background: #ECF2FE;
        }
        .table-body table tr{
            line-height: 40px;
            border: 1px solid #E9E9E9;
        }
    </style>
</head>
<body>
<!--左侧导航条-->
  <div id="leftNav" class="left">
      <div class="">
        <div class="left-list-item menu2" v-for="(item, index) in items" v-on:click="selectStyle (item, index) " v-bind:class="{'selected':item.active}">{{item.adnm}}</div>
      </div>
  </div>
<!--头部导航条-->
  <div id="topNav" class="right">
      <div class="right-tab-container">
          <ul>
              <li v-for="(item, index) in allNav" v-on:click="selectStyle(item, index)" v-bind:class="{'selected':item.active}">{{item.nav}}</li>
          </ul>
      </div>
      <div class="cheose">
          <div>
              <span>设备类型：</span>
              <label val="0" class="selected">全部</label>
              <label val="1">短信猫</label>
              <label val="2">接收机</label>
              <label val="3">监测站</label>
              <label val="4">预警站</label>
              <label val="4">图像站</label>
          </div>
          <div>
              <label class="query">查询</label>
          </div>
      </div>
      <div class="table-head table-background">
          <table>
              <thead>
              <tr>
                  <th style="text-align: center; width: 10%">市县名称</th>
                  <th style="text-align: center; width: 10%">设备类型</th>
                  <th style="text-align: center; width: 10%">设备总数</th>
                  <th style="text-align: center; width: 12%">余额超过50元</th>
                  <th style="text-align: center; width: 12%">余额超过20元</th>
                  <th style="text-align: center; width: 12%">余额20元以下</th>
                  <th style="text-align: center; width: 12%">欠费20元以内</th>
                  <th style="text-align: center; width: 12%">欠费超过20元</th>
              </tr>
              </thead>
          </table>
      </div>
      <div class="table-body">
          <table>
              <tbody>
              <tr v-for="(table, index) in tableDatas" v-bind:class="{'table-background':table.active}">
                  <td style="text-align: center; width: 10%">{{table.country}}</td>
                  <td style="text-align: center; width: 10%">{{table.type}}</td>
                  <td style="text-align: center; width: 10%">{{table.manyFifty+table.manyTwenty+table.many+table.owe+table.oweTwenty}}</td>
                  <td style="text-align: center; width: 12%">{{table.manyFifty}}</td>
                  <td style="text-align: center; width: 12%">{{table.manyTwenty}}</td>
                  <td style="text-align: center; width: 12%">{{table.many}}</td>
                  <td style="text-align: center; width: 12%">{{table.owe}}</td>
                  <td style="text-align: center; width: 12%">{{table.oweTwenty}}</td>
              </tr>
              </tbody>
          </table>
      </div>
      <div class="table-bottom"></div>
  </div>
</body>
<script>
  //    http://59.50.71.132:51230/shzh/pages/login.html   hn\hn123456
  //    服务器数据
  var serverData=[
      {
          "adcd":"460000000000",
          "adnm":"海南省",
          "date":"2018-03-09 10:23:31",
          "ip":"10.46.25.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":2737,
                  "date":"2018-03-09 10:23:31",
                  "svrIp":"10.46.25.73",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":2790,
                  "date":"2018-03-09 10:23:31",
                  "svrIp":"10.46.25.73",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":2789,
                  "date":"2018-03-09 10:23:31",
                  "svrIp":"10.46.25.73",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"460100000000",
          "adnm":"海口市",
          "date":"2018-03-10 19:41:26",
          "ip":"10.46.33.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"1",
                  "keeponline":0,
                  "totalonline":15796,
                  "date":"2018-03-10 19:41:26",
                  "svrIp":"10.46.33.72",
                  "status":"正常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"1",
                  "keeponline":0,
                  "totalonline":15789,
                  "date":"2018-03-10 19:41:26",
                  "svrIp":"10.46.33.71",
                  "status":"正常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"1",
                  "keeponline":0,
                  "totalonline":14767,
                  "date":"2018-03-10 19:41:26",
                  "svrIp":"10.46.33.70",
                  "status":"正常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"460200000000",
          "adnm":"三亚市",
          "date":"2018-03-10 21:25:56",
          "ip":"10.46.35.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"1",
                  "keeponline":0,
                  "totalonline":34397,
                  "date":"2018-03-10 21:25:56",
                  "svrIp":"10.46.35.70",
                  "status":"正常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"1",
                  "keeponline":0,
                  "totalonline":34046,
                  "date":"2018-03-10 21:25:56",
                  "svrIp":"10.46.35.70",
                  "status":"正常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"1",
                  "keeponline":0,
                  "totalonline":34040,
                  "date":"2018-03-10 21:25:56",
                  "svrIp":"10.46.35.70",
                  "status":"正常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469001000000",
          "adnm":"五指山",
          "date":"",
          "ip":"10.46.0.0",
          "svr":[

          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469002000000",
          "adnm":"琼海市",
          "date":"2017-12-23 19:06:26",
          "ip":"10.46.39.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.39.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":-1413,
                  "date":"2017-12-23 19:06:26",
                  "svrIp":"10.46.39.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":-1413,
                  "date":"2017-12-23 19:06:26",
                  "svrIp":"10.46.39.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469003000000",
          "adnm":"儋州市",
          "date":"2018-03-10 21:33:46",
          "ip":"10.46.47.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"1",
                  "keeponline":87,
                  "totalonline":1388,
                  "date":"2018-03-10 21:33:46",
                  "svrIp":"10.46.47.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"1",
                  "keeponline":87,
                  "totalonline":1388,
                  "date":"2018-03-10 21:33:46",
                  "svrIp":"10.46.47.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"0",
                  "keeponline":0,
                  "totalonline":180,
                  "date":"2018-01-02 16:11:59",
                  "svrIp":"10.46.47.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469005000000",
          "adnm":"文昌市",
          "date":"2017-12-28 17:20:33",
          "ip":"10.46.25.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":1861,
                  "date":"2017-12-28 17:20:33",
                  "svrIp":"10.46.25.132",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.25.132",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.25.132",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469006000000",
          "adnm":"万宁市",
          "date":"2018-01-24 10:56:30",
          "ip":"10.46.45.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":3860,
                  "date":"2018-01-24 10:56:30",
                  "svrIp":"10.46.45.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":911,
                  "date":"2018-01-23 11:02:31",
                  "svrIp":"10.46.45.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":3575,
                  "date":"2018-01-23 11:02:31",
                  "svrIp":"10.46.45.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469007000000",
          "adnm":"东方市",
          "date":"2018-03-10 21:42:38",
          "ip":"10.46.59.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"0",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.59.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"1",
                  "keeponline":174,
                  "totalonline":7774,
                  "date":"2018-03-10 21:42:38",
                  "svrIp":"10.46.59.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"0",
                  "keeponline":0,
                  "totalonline":3532,
                  "date":"2018-02-17 02:42:37",
                  "svrIp":"10.46.59.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469021000000",
          "adnm":"定安县",
          "date":"2018-01-02 16:11:59",
          "ip":"10.46.47.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":180,
                  "date":"2018-01-02 16:11:59",
                  "svrIp":"10.46.47.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":180,
                  "date":"2018-01-02 16:11:59",
                  "svrIp":"10.46.47.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":180,
                  "date":"2018-01-02 16:11:59",
                  "svrIp":"10.46.47.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469022000000",
          "adnm":"屯昌县",
          "date":"2018-01-05 16:20:13",
          "ip":"10.46.49.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":2544,
                  "date":"2018-01-05 16:20:13",
                  "svrIp":"10.46.49.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.49.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":2544,
                  "date":"2018-01-05 16:20:13",
                  "svrIp":"10.46.49.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469023000000",
          "adnm":"澄迈县",
          "date":"2018-03-10 21:58:02",
          "ip":"10.46.51.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"1",
                  "keeponline":12,
                  "totalonline":62892,
                  "date":"2018-03-10 21:58:02",
                  "svrIp":"10.46.51.72",
                  "status":"正常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"1",
                  "keeponline":12,
                  "totalonline":56298,
                  "date":"2018-03-10 21:58:02",
                  "svrIp":"10.46.51.71",
                  "status":"正常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"1",
                  "keeponline":12,
                  "totalonline":65032,
                  "date":"2018-03-10 21:58:02",
                  "svrIp":"10.46.51.70",
                  "status":"正常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469024000000",
          "adnm":"临高县",
          "date":"2018-03-10 21:28:32",
          "ip":"10.46.53.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"1",
                  "keeponline":0,
                  "totalonline":54771,
                  "date":"2018-03-10 21:28:32",
                  "svrIp":"10.46.53.70",
                  "status":"正常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"1",
                  "keeponline":0,
                  "totalonline":47973,
                  "date":"2018-03-10 21:28:32",
                  "svrIp":"10.46.53.70",
                  "status":"正常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"1",
                  "keeponline":0,
                  "totalonline":47973,
                  "date":"2018-03-10 21:28:32",
                  "svrIp":"10.46.53.70",
                  "status":"正常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469025000000",
          "adnm":"白沙县",
          "date":"2018-03-06 05:05:26",
          "ip":"10.46.55.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.55.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":12354,
                  "date":"2018-03-06 05:05:26",
                  "svrIp":"10.46.55.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":12359,
                  "date":"2018-03-06 05:05:26",
                  "svrIp":"10.46.55.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469026000000",
          "adnm":"昌江县",
          "date":"",
          "ip":"10.46.0.0",
          "svr":[

          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469027000000",
          "adnm":"乐东县",
          "date":"2018-02-26 12:20:41",
          "ip":"10.46.61.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":7819,
                  "date":"2018-02-26 12:20:41",
                  "svrIp":"10.46.61.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":7819,
                  "date":"2018-02-26 12:20:41",
                  "svrIp":"10.46.61.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.61.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469028000000",
          "adnm":"陵水县",
          "date":"2018-01-09 12:16:35",
          "ip":"10.46.63.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":893,
                  "date":"2018-01-09 12:16:35",
                  "svrIp":"10.46.63.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":891,
                  "date":"2018-01-09 12:16:35",
                  "svrIp":"10.46.63.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":891,
                  "date":"2018-01-09 12:16:35",
                  "svrIp":"10.46.63.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469029000000",
          "adnm":"保亭县",
          "date":"2017-12-06 15:12:58",
          "ip":"10.46.65.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":239,
                  "date":"2017-12-06 15:12:58",
                  "svrIp":"10.46.65.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.65.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"2",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.65.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      },
      {
          "adcd":"469030000000",
          "adnm":"琼中县",
          "date":"2018-02-01 13:48:21",
          "ip":"10.46.67.1",
          "svr":[
              {
                  "name":"应用服务器",
                  "statu":"0",
                  "keeponline":0,
                  "totalonline":13281,
                  "date":"2018-02-01 13:48:21",
                  "svrIp":"10.46.67.72",
                  "status":"异常",
                  "url":"/web/html/server/yingyong.html?pid=58c252a554f6e0659bc1c9d3&id=58c252fc54f6e0659bc1c9d5"
              },
              {
                  "name":"数据库服务器",
                  "statu":"0",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.67.71",
                  "status":"异常",
                  "url":"/web/html/server/shujuku.html?pid=58c252a554f6e0659bc1c9d3&id=58c2531a54f6e0659bc1c9d6"
              },
              {
                  "name":"接收服务器",
                  "statu":"0",
                  "keeponline":0,
                  "totalonline":0,
                  "date":"",
                  "svrIp":"10.46.67.70",
                  "status":"异常",
                  "url":"/web/html/server/qianzhi.html?pid=58c252a554f6e0659bc1c9d3&id=58c254e254f6e0659bc1c9d8"
              }
          ],
          "host":"59.50.71.132:51330",
          "home":"/web/html/server/home.html?pid=58c252a554f6e0659bc1c9d3&id=58c252d454f6e0659bc1c9d4"
      }
  ]

  var allCountys = ["墩雅","南塘","木色","三江","大贝朗",
    "福店","演丰桥","凤翔桥","北港村","荣山",
    "后海桥","文蛟","个钱大桥","芝冉","37队",
    "壮贺(卫星)","福莱斯","牙扩(卫星)","南耐","牙琼"];
  var allMachineType = ["短信猫","接收机","监测站","预警站","图像站"];
  // 模拟当前页面需要的数据
  function getSimulationData() {
    var datas=[];
    for (var i=0; i<12; i++) {
      var data={};
      data.country=allCountys[Math.floor(Math.random()*allCountys.length)];
      data.type=allMachineType[Math.floor(Math.random()*allMachineType.length)];
      data.manyFifty=Math.floor(Math.random()*20+80);
      data.manyTwenty=Math.floor(Math.random()*30+30);
      data.many=Math.floor(Math.random()*20+20);
      data.owe=Math.floor(Math.random()*10+20);
      data.oweTwenty=Math.floor(Math.random()*10+10);
      datas.push(data);
    }
    return datas;
  }
  // 列表数据
  var getTableData=getSimulationData();

  var leftNav = new Vue({
      el:"#leftNav",
      data:{
          items:serverData
      },
      methods: {
          selectStyle:function (item, index) {
            var _this=this;
            _this.$nextTick(function () {
              _this.items.forEach(function (item) {
                  Vue.set(item,'active',false);
                });
                Vue.set(item,'active',true);
              });
          }
      }
  });

  var topNav = new Vue({
    el:"#topNav",
    data:{
      allNav:[
        {nav:"服务器状态"},
        {nav:"站点状态"},
        {nav:"当前状态"},
        {nav:"站点余额"},
        {nav:"异常数据"},
        {nav:"维护日历"}
        ],
      tableDatas:getTableData
    },
    methods:{
      selectStyle:function (item, index) {
        var _this=this;
        _this.$nextTick(function () {
          _this.allNav.forEach(function (item) {
            Vue.set(item, "active", false);
          });
          Vue.set(item, "active", true);
        });
      }
    },
    mounted:function(){
      //需要用$nextTick来保证所有节点挂载后才执行方法
      this.$nextTick(function(){
        var _this=this;
        for(var i=0; i<_this.tableDatas.length; i++){
          if(i%2==0){
            Vue.set(_this.tableDatas[i], "active", false);
          }else{
            Vue.set(_this.tableDatas[i], "active", true);
          }
        }
      })
    },
  });
</script>