<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海南</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div class="main">
    <!--左侧导航条-->
    <div id="leftNav" class="left">
        <div class="left-list-item menu2" v-for="(item, index) in allProvince" v-on:click="selectStyle (item, index) " v-bind:class="{'selected':item.active}">{{item.adnm}}</div>
    </div>
    <div class="iframe">
      <iframe id="rightIframe" src="page/fuwuqizhuangtai.html" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes" scrolling="no"></iframe>
    </div>
  </div>
</body>
<script src="js/tools/vue.js"></script>
<script src="js/tools/vue-resource.js"></script>
<script>
  // 全局注册一个组件
  // Vue.component('province-item',{

  //   // props:["items"],
  //   // template:"<ul v-for='item in items'> <li>{{item.adnm}}</li> </ul>",
  //   template: '<div>A custom component!</div>'
  // })
</script>
<script>
  // 给市县排序
  var strSort=function(x,y){
    if(x.adcd>y.adcd){
      return 1;
    }else{
      return -1;
    }

  }
  var leftNav=new Vue({
    el:"#leftNav",
    data:{
      allProvince:[],
      url:"http://hnyw.cloudowr.cn/svrapi/getAllSvrStatus"
    },
    // 
    mounted(){
      document.getElementById("rightIframe").style.width=(document.documentElement.clientWidth-220)+"px";
      document.getElementById("rightIframe").style.height=(document.documentElement.clientWidth-220)+"px";
      this.getAllServerStatus()
    },
    methods:{
      getAllServerStatus:function(){
        this.$http.get(this.url)
        .then((response)=>{
          this.allProvince=response.body.sort(strSort);
          // 在本地储存市县的adnm
          this.setAllProvinceAdnm();
        })
        .catch(function(response){
          console.log(response)
        })
      },
      selectStyle:function (item, index) {
        var _this=this;
        _this.$nextTick(function () {
          _this.allProvince.forEach(function (item) {
            Vue.set(item,'active',false);
          });
          Vue.set(item,'active',true);
        });
      },
      setAllProvinceAdnm:function(){
        
      },
    }
  })


</script>