<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海南</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div class="main">
    <div id="dqzt">
      <div class="right-tab-container">
        <ul>
          <li v-for="(title, index) in titles" v-on:click="navSelectStyle(title, index)" v-bind:class="{'selected':title.active}">{{title.nav}}</li>
        </ul>
      </div>
      <!-- 切换显示页面 -->
      <div class="common-div-margin">
        <button class="common-btn-padding" v-bind:class="{'common-btn-bg':dangqianActive,'none-btn-bg':!dangqianActive}" v-on:click="tabZhanDian(true)">站点当前状态</button>
        <button class="common-btn-padding" v-bind:class="{'common-btn-bg':zaixianlvActive,'none-btn-bg':!zaixianlvActive}" v-on:click="tabZhanDian(false)">站点在线率过程</button>
        <button class="common-btn-padding error-btn-bg" style="float:right;" v-on:click="backToZhanDianZhuangTai()">返回</button>
      </div>
      <!-- 选项 -->
      <div v-show="dangqianActive">
        <div class="common-div-margin">
          <span class="common-shuipin-margin">站点查询</span>
          <select v-model="selected">
            <option v-for="(item, index) in allProvince" v-bind:value="item.adnm"><span>{{item.adnm}}</span></option>
          </select>
          <span class="common-shuipin-margin">站点类型</span>
          <button class="common-btn-padding" 
            v-for="(item, index) in typeStation"
            v-on:click="changeTypeStation(index)"
            v-bind:class="{'common-btn-bg':item.active, 'none-btn-bg':!item.active}" 
          ><span>{{item.type}}</span></button>

          <span class="common-shuipin-margin">站点状态</span>
          <button class="common-btn-padding" 
            v-for="(item, index) in typeStatus"
            v-on:click="changeTypeStatus(index)"
            v-bind:class="{'common-btn-bg':item.active, 'none-btn-bg':!item.active}" 
          ><span>{{item.type}}</span></button>
          <button class="common-btn-padding success-btn-bg" v-on:click="searchTableData()"><span>查询</span></button>
          <button class="common-btn-padding success-btn-bg" v-on:click="download()"><span>导出</span></button>
        </div>
        <!-- 表格 -->
        <div class="common-table">
          <table style="text-align: center;">
            <thead>
              <tr>
                <th style="width:10%;">站点编码</th>
                <th style="width:25%;">站点名称</th>
                <th style="width:10%;">设备编码</th>
                <th style="width:10%;">站点类型</th>
                <th style="width:10%;">建设单位</th>
                <th style="width:10%;">建站年月</th>
                <th style="width:10%;">在线状态</th>
                <th style="width:15%;">最后通讯时间</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(data,index) in tableData" v-bind:class="{'table-background':data.navActive}">
                <td style="text-align: center; width: 10%">{{data.stcd}}</td>
                <td style="text-align: center; width: 25%">{{data.stnm}}</td>
                <td style="text-align: center; width: 10%">{{data.machineid?data.machineid:"-"}}</td>
                <td style="text-align: center; width: 10%">{{data.sttp}}</td>
                <td style="text-align: center; width: 10%">{{data.jswd}}</td>
                <td style="text-align: center; width: 10%">{{data.esstym?data.esstym:"-"}}</td>
                <td style="text-align: center; width: 10%">{{data.status}}</td>
                <td style="text-align: center; width: 15%">{{data.tm}}</td>
              </tr>
            </tbody>  
          </table>
        </div>
      <!-- 翻页插件 -->
        <div style="text-align: center;">
          <ul class="mo-paging">
            <!-- prev -->
            <li
            :class="['paging-item', 'paging-item--prev', {'paging-item--disabled' : index === 1}]"
            @click="prev">下一页</li>
    
            <!-- first -->
            <li
            :class="['paging-item', 'paging-item--first', {'paging-item--disabled' : index === 1}]"
            @click="first">首页</li>
    
            <li
            :class="['paging-item', 'paging-item--more']"
            v-if="showPrevMore">...</li>
    
            <li
            :class="['paging-item', {'paging-item--current' : index === pager}]"
            v-for="pager in pagers"
            @click="go(pager)">{{ pager }}</li>
    
            <li
            :class="['paging-item', 'paging-item--more']"
            v-if="showNextMore">...</li>
    
            <!-- last -->
            <li
            :class="['paging-item', 'paging-item--last', {'paging-item--disabled' : index === pages}]"
            @click="last">尾页</li>
    
            <!-- next -->
            <li
            :class="['paging-item', 'paging-item--next', {'paging-item--disabled' : index === pages}]"
            @click="next">上一页</li>
          </ul>
          <select class="common-shuipin-margin">
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>
      </div>
      <div v-show="zaixianlvActive">
        <div class="common-div-margin">
          <span>站点查询</span>
          <select>
            <option v-for="(item, index) in allProvince" v-bind:value="item.adnm" v-on:click="changeTableData(item.adnm)"><span>{{item.adnm}}</span></option>
          </select>
          <span class="common-shuipin-margin">时间</span>
          <input type="date" id="firstDate">
          <span class="common-shuipin-margin">至</span>
          <input type="date" id="lastDate">
          <button class="common-btn-padding common-btn-bg"><span>查询</span></button>
        </div>
        <div class="all-map-view">
          <div style="width: 100%; height:200px;" id="zxl-map"></div>
        </div>
        <div style="overflow-x: auto;">
          <table class="common-table boder-table" style="text-align: center;">
            <thead>
              <tr>
                <th style="min-width:100px;">市县名称</th>
                <th style="min-width:100px;">站点类型</th>
                <th style="min-width:100px;" v-for="data in zxlTableTh">{{data}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="4">海南省</td>
                <td>雨量站</td>
                <td v-for="data in zxlTableData[0]">{{data}}%</td>
              </tr>
              <tr>
                <td>水位站</td>
                <td v-for="data in zxlTableData[1]">{{data}}%</td>
              </tr>
              <tr>
                <td>图像站</td>
                <td v-for="data in zxlTableData[2]">{{data}}%</td>
              </tr>
              <tr>
                <td>广播站</td>
                <td v-for="data in zxlTableData[3]">{{data}}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="../js/tools/vue.js"></script>
<script src="../js/tools/vue-resource.js"></script>
<script src="../js/tools/echarts.js"></script>
<script src="../js/dangqianzhuangtai.js"></script>