<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海南</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div class="main">
    <div id="whrl">
      <div class="right-tab-container">
        <ul>
          <li v-for="(title, index) in titles" v-on:click="navSelectStyle(title, index)" v-bind:class="{'selected':title.active}">{{title.nav}}</li>
        </ul>
      </div>
      <div style="margin:5px;">
        <span class="common-font-size-12">时间：</span>
        <input type="date" id="firstDate" />
        <span class="common-font-size-12">至</span>
        <input type="date" id="lastDate" />
        <button class="common-btn-padding success-btn-bg">查询</button>
        <button class="common-btn-padding success-btn-bg">导出</button>
      </div>
      <div style="width:100%; height:50px;">
        <ul>
          <li style="float:left; width:12%;" v-for="(item, index) in items">
            <div>
              <img style="width:30px; margin:10px; float: left;" v-bind:src="item.pic">
              <span style="float: left; line-height:15px; margin-top:5px;">{{item.name}}</span><br>
              <span style="float: left;">{{weihuTitle[index]}}</span>
            </div>
          </li>
        </ul>
        <span>模板下载：</span>
        <button class="common-btn-padding success-btn-bg" v-on:click="loadPingTaiModel">平台巡检模板</button>
        <button class="common-btn-padding success-btn-bg" v-on:click="loadShuJuModel">数据巡检模板</button>
      </div>
      <div style="width:100%; height:202px; border: 1px solid #EEE;">
        <div id="whrl-table" style="width:100%; height:200px;"></div>
      </div>
      <div class="common-table boder-table">
        <table-whrl v-bind:datas="datas"></table-whrl>
      </div>
    </div>
  </div>
</body>
<script src="../js/tools/vue.js"></script>
<script src="../js/tools/vue-resource.js"></script>
<script src="../js/tools/echarts4.0.min.js"></script>
<script>
  Vue.component("table-whrl",{
    props:["datas"],
    template:`
    <table style="text-align: center;">
      <thead>
        <tr>
          <td style="width:20%">市县平台</td>
          <td style="width:15%">平台巡检</td>
          <td style="width:15%">数据巡检</td>
          <td style="width:15%">站点安装</td>
          <td style="width:15%">站点维护</td>
          <td style="width:15%">其他检查</td>
        </tr>  
      </thead>
      <tbody v-for="(data, index) in datas">
        <tr>
          <td>{{data.adnm}}</td>  
          <td>{{data["平台巡检"].cnt}}次</td>
          <td>{{data["数据巡检"].cnt}}次</td>  
          <td>{{data["站点安装"].stcnt}}站{{data["站点安装"].cnt}}次</td>  
          <td>{{data["站点维护"].stcnt}}站{{data["站点维护"].cnt}}次</td>  
          <td>{{data["其他检查"].stcnt}}站{{data["其他检查"].cnt}}次</td>  
        </tr>
      </taody>
    </table>
    `
  })
</script>
<script src="../js/weihurili.js"></script>
