<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海南</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div class="main">
    <div id="zdzt">
      <div class="right-tab-container">
        <ul>
            <li v-for="(title, index) in titles" v-on:click="navSelectStyle(title, index)" v-bind:class="{'selected':title.active}">{{title.nav}}</li>
        </ul>
      </div>
      <div class="common-div-margin">
        <span>汇总：雨量站合计771个，在线369个，离线402个;水位站合计234个，在线108个，离线126个;图像站合计192个，在线91个，离线101个;广播站合计1135个，在线654个，离线481个</span> 
        <button class="success-btn-bg common-btn-padding" style="float:right;">导&nbsp;&nbsp;&nbsp;&nbsp;出</button>
      </div>
      <div class="all-map-view">
        <div id="type-pie"></div>
        <div id="type-bar"></div>
      </div>
      <div class="common-table">
        <div>
            <table-cnt-on v-bind:table-data="allStCntSQL"></table-cnt-on>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../js/vue.js"></script>
<script src="../js/vue-resource.js"></script>
<script src="../js/echarts.js"></script>
<script>
  // 给市县排序
  var strSort=function(x,y){
    if(x.adcd>y.adcd){
      return 1;
    }else{
      return -1;
    }

  }
  var zdzt=new Vue({
    el:"#zdzt",
    data:{
      titles:[
        {nav:"服务器状态",url:"fuwuqizhuangtai.html"},
        {nav:"站点状态",url:"zhandianzhuangtai.html",active:true},
        {nav:"站点余额",url:"zhandianyue.html"},
        {nav:"异常数据",url:"yichangshuju.html"},
        {nav:"维护日历",url:"weihurili.html"}
      ],
      allStCntSQL:[],
      // 站点状态数据
      url:"/svrapi/getAllStCntSQL"
    },
    // 
    mounted(){
      // 获取网络数据
      this.getAllServerStatus();
    },
    updated(){
      // 页面加载后执行
      window.parent.document.getElementById("rightIframe").style.height=document.body.offsetHeight+20+"px";
    },
    methods:{
      // 获取网络数据
      getAllServerStatus:function(){
        this.$http.get(this.url)
        .then((response)=>{
          this.allStCntSQL=response.body.sort(strSort);
          // 增加在线率 总数的字段
          this.setAllStCntSQL()
        })
        .catch(function(response){
          console.log(response)
        })
      },
      // 导航点击添加class
      navSelectStyle:function (item, index) {
        var _this=this;
        _this.$nextTick(function () {
          _this.titles.forEach(function (item) {
            Vue.set(item,'active',false);
          });
          Vue.set(item,'active',true);
        });
        // 页面跳转
        window.parent.document.getElementById("rightIframe").src="page/"+item.url;
      },
      // 隔行添加表格背景的class
      setAllStCntSQL:function(){
        var _this=this;
        _this.allStCntSQL.forEach(function(item, index){
          var rateY=Math.ceil((item["雨量"].on/item["雨量"].cnt)*100)
          Vue.set(item["雨量"],"rate",rateY?rateY:0);

          var rateS=Math.ceil((item["水位"].on/item["水位"].cnt)*100)
          Vue.set(item["水位"],"rate",rateS?rateS:0);

          var rateT=Math.ceil((item["图像"].on/item["图像"].cnt)*100)
          Vue.set(item["图像"],"rate",rateT?rateT:0);

          var rateG=Math.ceil((item["广播"].on/item["广播"].cnt)*100)
          Vue.set(item["广播"],"rate",rateG?rateG:0);

          var allCnt=item["雨量"].cnt+item["水位"].cnt+item["图像"].cnt+item["广播"].cnt;
          var allOn=item["雨量"].on+item["水位"].on+item["图像"].on+item["广播"].on;
          var allRate=Math.ceil((allOn/allCnt)*100);
          Vue.set(item,"allCnt",allCnt);
          Vue.set(item,"allOn",allOn);
          Vue.set(item,"allRate",allRate);
        })
      },

    },
    components:{
      "table-cnt-on":{
        props:["tableData"],
        template:`
        <table style="text-align: center;" v-bind:tableData="tableData">
          <thead>
            <tr>
                <th style="width: 12%">市县名称</th>
                <th style="width: 12%">站点类型</th>
                <th style="width: 12%">站点个数</th>
                <th style="width: 12%">在线数</th>
                <th style="width: 12%">在线率</th>
                <th style="width: 12%">站点总数</th>
                <th style="width: 12%">站点总在线数</th>
                <th style="width: 14%">站点总在线率</th>
            </tr>
          </thead>
          <tbody v-for="(data, index) in tableData">
            <tr>
              <td style="width: 12%" rowspan="4"><a>{{data.adnm}}</a></td>
              <td style="width: 12%">雨量站</td>
              <td style="width: 12%">{{data['雨量'].cnt}}</td>
              <td style="width: 12%">{{data['雨量'].on}}</td>
              <td style="width: 12%">{{data['雨量'].rate}}%</td>
              <td style="width: 12%" rowspan="4">{{data.allCnt}}</td>
              <td style="width: 12%" rowspan="4">{{data.allOn}}</td>
              <td style="width: 14%" rowspan="4">{{data.allRate}}%</td>
            </tr>
            <tr>
              <td style="width: 12%">水位站</td>
              <td style="width: 12%">{{data['水位'].cnt}}</td>
              <td style="width: 12%">{{data['水位'].on}}</td>
              <td style="width: 12%">{{data['水位'].rate}}%</td>
            </tr>
            <tr>
              <td style="width: 12%">图像站</td>
              <td style="width: 12%">{{data['图像'].cnt}}</td>
              <td style="width: 12%">{{data['图像'].on}}</td>
              <td style="width: 12%">{{data['图像'].rate}}%</td>
            </tr>
            <tr>
              <td style="width: 12%">广播站</td>
              <td style="width: 12%">{{data['广播'].cnt}}</td>
              <td style="width: 12%">{{data['广播'].on}}</td>
              <td style="width: 12%">{{data['广播'].rate}}%</td>
            </tr>
          </tbody>
        </table>`
      }
    }

  })


</script>