<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海南</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div class="main">
    <div id="zdye">
      <div class="right-tab-container">
        <ul>
          <li v-for="(title, index) in titles" v-on:click="navSelectStyle(title, index)" v-bind:class="{'selected':title.active}">{{title.nav}}</li>
        </ul>
      </div>
      <div  class="all-map-view">
        <!-- 余额站点 -->
        <div style="position:absolute; z-index:999; width:20%; text-align: center;">
          <div style="margin-top:5px;">
            <button  v-for="(btn, index) in siteBtn" class="common-btn-padding" v-bind:class="{'success-btn-bg':btn.active, 'none-btn-bg':!btn.active}" v-on:click="changeSiteData(index)">{{btn.name}}</button>
          </div>
        </div>
        <div style="width: 20%; height:200px; float: left;" id="yue-site"></div>
        <!-- 余额柱状图 -->
        <div style="width: 80%; height:200px; float: left;" id="yue-column"></div>
      </div>
      <div class="common-div-margin">
          <button class="common-btn-padding" v-bind:class="{'common-btn-bg':yueActive, 'none-btn-bg':!yueActive}" v-on:click="yueActive=!yueActive">余额统计</button>
          <button class="common-btn-padding" v-bind:class="{'common-btn-bg':!yueActive, 'none-btn-bg':yueActive}" v-on:click="yueActive=!yueActive">缴费统计</button>
          <button class="common-btn-padding success-btn-bg" style="float:right;">导入</button>
          <button class="common-btn-padding common-shuipin-margin success-btn-bg" style="float:right;">导出</button>
      </div>
      <div v-show="yueActive" class="common-table boder-table">
        <table-yue v-bind:table-data="allStYe" ></table-yue>
      </div>
      <div v-show="!yueActive" class="common-table boder-table">
        <table style="text-align: center;">
          <thead>
            <tr>
              <th rowspan="2">市县名称</th>
              <th rowspan="2">设备类型</th>
              <th rowspan="2">设备总数</th>
              <th colspan="2">2018年3月缴费</th>
              <th colspan="2">2018年2月缴费</th>
              <th colspan="2">2018年1月缴费</th>
              <th colspan="2">最近三个月缴费</th>
            </tr>
            <tr>
              <th>设备数</th>
              <th>总金额</th>
              <th>设备数</th>
              <th>总金额</th>
              <th>设备数</th>
              <th>总金额</th>
              <th>设备数</th>
              <th>总金额</th>
            </tr>
          </thead>
          <tbody v-for="(item, index) in jiaofeiData">
            <tr>
              <td rowspan="4">{{item.adnm}}</td>
              <td>水位站</td>
              <td>{{item["水位站"]["总数"]}}</td>
              <td>{{item["水位站"]["2018-03"]["总数"]}}</td>
              <td>{{item["水位站"]["2018-03"]["金额"]}}</td>
              <td>{{item["水位站"]["2018-02"]["总数"]}}</td>
              <td>{{item["水位站"]["2018-02"]["金额"]}}</td>
              <td>{{item["水位站"]["2018-01"]["总数"]}}</td>
              <td>{{item["水位站"]["2018-01"]["金额"]}}</td>
              <td>{{item["水位站"]["2018-03"]["总数"]+item["水位站"]["2018-02"]["总数"]+item["水位站"]["2018-01"]["总数"]}}</td>
              <td>{{item["水位站"]["2018-03"]["金额"]+item["水位站"]["2018-02"]["金额"]+item["水位站"]["2018-01"]["金额"]}}</td>
            </tr>
            <tr>
              <td>图像站</td>
              <td>{{item["图像站"]["总数"]}}</td>
              <td>{{item["图像站"]["2018-03"]["总数"]}}</td>
              <td>{{item["图像站"]["2018-03"]["金额"]}}</td>
              <td>{{item["图像站"]["2018-02"]["总数"]}}</td>
              <td>{{item["图像站"]["2018-02"]["金额"]}}</td>
              <td>{{item["图像站"]["2018-01"]["总数"]}}</td>
              <td>{{item["图像站"]["2018-01"]["金额"]}}</td>
              <td>{{item["图像站"]["2018-03"]["总数"]+item["图像站"]["2018-02"]["总数"]+item["图像站"]["2018-01"]["总数"]}}</td>
              <td>{{item["图像站"]["2018-03"]["金额"]+item["图像站"]["2018-02"]["金额"]+item["图像站"]["2018-01"]["金额"]}}</td>
            </tr>
            <tr>
              <td>雨量站</td>
              <td>{{item["雨量站"]["总数"]}}</td>
              <td>{{item["雨量站"]["2018-03"]["总数"]}}</td>
              <td>{{item["雨量站"]["2018-03"]["金额"]}}</td>
              <td>{{item["雨量站"]["2018-02"]["总数"]}}</td>
              <td>{{item["雨量站"]["2018-02"]["金额"]}}</td>
              <td>{{item["雨量站"]["2018-01"]["总数"]}}</td>
              <td>{{item["雨量站"]["2018-01"]["金额"]}}</td>
              <td>{{item["雨量站"]["2018-03"]["总数"]+item["雨量站"]["2018-02"]["总数"]+item["雨量站"]["2018-01"]["总数"]}}</td>
              <td>{{item["雨量站"]["2018-03"]["金额"]+item["雨量站"]["2018-02"]["金额"]+item["雨量站"]["2018-01"]["金额"]}}</td>
            </tr>
            <tr>
              <td>预警站</td>
              <td>{{item["预警站"]["总数"]}}</td>
              <td>{{item["预警站"]["2018-03"]["总数"]}}</td>
              <td>{{item["预警站"]["2018-03"]["金额"]}}</td>
              <td>{{item["预警站"]["2018-02"]["总数"]}}</td>
              <td>{{item["预警站"]["2018-02"]["金额"]}}</td>
              <td>{{item["预警站"]["2018-01"]["总数"]}}</td>
              <td>{{item["预警站"]["2018-01"]["金额"]}}</td>
              <td>{{item["预警站"]["2018-03"]["总数"]+item["预警站"]["2018-02"]["总数"]+item["预警站"]["2018-01"]["总数"]}}</td>
              <td>{{item["预警站"]["2018-03"]["金额"]+item["预警站"]["2018-02"]["金额"]+item["预警站"]["2018-01"]["金额"]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
<script src="../js/tools/vue.js"></script>
<script src="../js/tools/vue-resource.js"></script>
<script src="../js/tools/echarts.js"></script>
<script>
  Vue.component("table-yue",{
    props:["tableData"],
    template:`<table style="text-align: center;" v-bind:tableData="tableData">
          <thead>
            <tr>
              <td style="width:8%;">市县名称</td>
              <td style="width:8%;">设备类型</td>
              <td style="width:9%;">设备总数</td>
              <td style="width:15%;">余额超过50元</td>
              <td style="width:15%;">余额超过20元</td>
              <td style="width:15%;">余额20元以下</td>
              <td style="width:15%;">欠费20元以内</td>
              <td style="width:15%;">欠费超过20元</td>
            </tr>
          </thead>
          <tbody v-for="(data, index) in tableData">
            <tr>
              <td rowspan="4"><a>{{data.adnm}}</a></td>
              <td>水位站</td>
              <td>{{data["水位站"].total}}</td>
              <td>{{data["水位站"]["超50"]}}</td>
              <td>{{data["水位站"]["超20"]}}</td>
              <td>{{data["水位站"]["不足20"]}}</td>
              <td>{{data["水位站"]["欠20"]}}</td>
              <td>{{data["水位站"]["欠超20"]}}</td>
            </tr>  
            <tr>
              <td>图像站</td>
              <td>{{data["图像站"].total}}</td>
              <td>{{data["图像站"]["超50"]}}</td>
              <td>{{data["图像站"]["超20"]}}</td>
              <td>{{data["图像站"]["不足20"]}}</td>
              <td>{{data["图像站"]["欠20"]}}</td>
              <td>{{data["图像站"]["欠超20"]}}</td>
            </tr>  
            <tr>
              <td>雨量站</td>
              <td>{{data["雨量站"].total}}</td>
              <td>{{data["雨量站"]["超50"]}}</td>
              <td>{{data["雨量站"]["超20"]}}</td>
              <td>{{data["雨量站"]["不足20"]}}</td>
              <td>{{data["雨量站"]["欠20"]}}</td>
              <td>{{data["雨量站"]["欠超20"]}}</td>
            </tr>  
            <tr>
              <td>预警站</td>
              <td>{{data["预警站"].total}}</td>
              <td>{{data["预警站"]["超50"]}}</td>
              <td>{{data["预警站"]["超20"]}}</td>
              <td>{{data["预警站"]["不足20"]}}</td>
              <td>{{data["预警站"]["欠20"]}}</td>
              <td>{{data["预警站"]["欠超20"]}}</td>
            </tr>  
          </tbody>
        </table>`
  })
</script>
<script src="../js/zhandianyue.js"></script>
