<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>海南</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div class="main">
    <div id="zdzt">
      <div class="right-tab-container">
        <ul>
          <li v-for="(title, index) in titles" v-on:click="navSelectStyle(title, index)" v-bind:class="{'selected':title.active}">{{title.nav}}</li>
        </ul>
      </div>
      <div class="common-div-margin">
        <span>汇总：雨量站合计771个，在线369个，离线402个;水位站合计234个，在线108个，离线126个;图像站合计192个，在线91个，离线101个;广播站合计1135个，在线654个，离线481个</span> 
        <button class="common-btn-bg common-btn-padding" style="float:right;" v-on:click="download()">导&nbsp;&nbsp;&nbsp;&nbsp;出</button>
      </div>
      <div class="all-map-view">        
        <div style="position:absolute; z-index:999; width:20%; text-align: center;">
          <div style="margin-top:5px;">
            <button  v-for="(btn, index) in siteBtn" class="common-btn-padding" v-bind:class="{'common-btn-bg':btn.active, 'none-btn-bg':!btn.active}" v-on:click="changeTpyeData(index)">{{btn.name}}</button>
          </div>
        </div>
        <div style="width: 20%; height:200px; float: left;" id="type-pie"></div>
        <div style="width: 80%; height:200px; float: left;" id="type-bar"></div>
      </div>
      <div class="common-table boder-table">
        <div>
          <table style="text-align: center;">
            <thead>
              <tr>
                <th style="width: 12%">市县名称</th>
                <th style="width: 12%">站点类型</th>
                <th style="width: 12%">站点个数</th>
                <th style="width: 12%">在线数</th>
                <th style="width: 12%">在线率</th>
                <th style="width: 12%">站点总数</th>
                <th style="width: 12%">站点总在线数</th>
                <th style="width: 14%">站点总在线率</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 12%" rowspan="4"><a href="dangqianzhuangtai.html">海南省</a></td>
                <td style="width: 12%">雨量站</td>
                <td style="width: 12%">{{shenData[0].cnt}}</td>
                <td style="width: 12%">{{shenData[0].on}}</td>
                <td style="width: 12%">{{shenData[0].rate}}%</td>
                <td style="width: 12%" rowspan="4">{{shenData[4].cnt}}</td>
                <td style="width: 12%" rowspan="4">{{shenData[4].on}}</td>
                <td style="width: 14%" rowspan="4">{{shenData[4].rate}}%</td>
              </tr>
              <tr>
                <td style="width: 12%">水位站</td>
                <td style="width: 12%">{{shenData[1].cnt}}</td>
                <td style="width: 12%">{{shenData[1].on}}</td>
                <td style="width: 12%">{{shenData[1].rate}}%</td>
              </tr>
              <tr>
                <td style="width: 12%">图像站</td>
                <td style="width: 12%">{{shenData[2].cnt}}</td>
                <td style="width: 12%">{{shenData[2].on}}</td>
                <td style="width: 12%">{{shenData[2].rate}}%</td>
              </tr>
              <tr>
                <td style="width: 12%">广播站</td>
                <td style="width: 12%">{{shenData[3].cnt}}</td>
                <td style="width: 12%">{{shenData[3].on}}</td>
                <td style="width: 12%">{{shenData[3].rate}}%</td>
              </tr>
            </tbody>
            <tbody v-for="(data, index) in allStCntSQL">
              <tr>
                <td style="width: 12%" rowspan="4"><a v-on:click="jumpHtmlForAdcd(data)">{{data.adnm}}</a></td>
                <td style="width: 12%">雨量站</td>
                <td style="width: 12%">{{data['雨量'].cnt}}</td>
                <td style="width: 12%">{{data['雨量'].on}}</td>
                <td style="width: 12%">{{data['雨量'].rate}}%</td>
                <td style="width: 12%" rowspan="4">{{data.allCnt}}</td>
                <td style="width: 12%" rowspan="4">{{data.allOn}}</td>
                <td style="width: 14%" rowspan="4">{{data.allRate}}%</td>
              </tr>
              <tr>
                <td style="width: 12%">水位站</td>
                <td style="width: 12%">{{data['水位'].cnt}}</td>
                <td style="width: 12%">{{data['水位'].on}}</td>
                <td style="width: 12%">{{data['水位'].rate}}%</td>
              </tr>
              <tr>
                <td style="width: 12%">图像站</td>
                <td style="width: 12%">{{data['图像'].cnt}}</td>
                <td style="width: 12%">{{data['图像'].on}}</td>
                <td style="width: 12%">{{data['图像'].rate}}%</td>
              </tr>
              <tr>
                <td style="width: 12%">广播站</td>
                <td style="width: 12%">{{data['广播'].cnt}}</td>
                <td style="width: 12%">{{data['广播'].on}}</td>
                <td style="width: 12%">{{data['广播'].rate}}%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="../js/tools/vue.js"></script>
<script src="../js/tools/vue-resource.js"></script>
<script src="../js/tools/echarts.js"></script>
<script src="../js/zhandianzhuangtai.js"></script>